@using RecipeBlog.UI.Models
@model List<RecipesModel>

@{
    ViewData["Title"] = "Recipes database";
    string[] TableHeaders = new string[]{"#"      
      ,"Title"
      ,"Description"
      ,"Ingredients"
      ,"Instructions"};
}

<div>
<table class="table table-bordered table-hover"> 
<thead class="thead-light">
    <tr>
                @{
                    foreach(var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
        }
    </tr>
</thead>
    @foreach (var recipe in Model)
    {
        <tr>
            <td>
                @Html.Encode(recipe.Id)
            </td>
            <td>
                @Html.Encode(recipe.Title)
            </td>
            <td>
                @Html.Encode(recipe.Description)
            </td>
            <td>
                @Html.Encode(recipe.Ingredients)
            </td>
            <td>
                @Html.Encode(recipe.Instructions)
            </td>
        </tr>
    }
</table>
</div>